<!--
<div class="">
  <button type="button" (click)="findAll()">Get Boards</button>
</div>
<div class="">
  <pre>{{pager | json}}</pre>
  <pre>{{boards | json}}</pre>
</div>
 -->
<div class="bs-example">
  <h2>Board</h2>
  <table class="table table-condensed table-hover table-striped">
    <thead>
      <tr>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">No</th>
        <th class="col-xs-6 col-sm-6 col-md-6 col-lg-6">Title</th>
        <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Writer</th>
        <th class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Date</th>
        <th class="col-xs-1 col-sm-1 col-md-1 col-lg-1">Hits</th>
      </tr>
    </thead>
    <tbody>
      <!--
      <c:forEach items="#{boards }" var="board">
        <tr>
          <td>${board.id }</td>
          <td><a href="<c:url value='/boards/view/${board.id }'/>">${board.title }</a></td>
          <td>${board.writer }</td>
          <td><fmt:formatDate pattern="MM-dd hh:mm" value="${board.regDate }" /></td>
          <td>${board.hitCount }</td>
        </tr>
      </c:forEach>
       -->
      <tr *ngFor="let board of boards; let i=index">
        <td>{{board.id }}</td>
        <td><a routerLink="{{'view/' + board.id}}">{{board.title }}</a></td>
        <td>{{board.writer }}</td>
        <td>{{board.regDate }}</td>
        <td>{{board.hitCount }}</td>
      </tr>
    </tbody>
  </table>

  <div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
      <ul class="pagination">
        <li *ngFor="let path of paths" [routerLinkActive]="path.active">
          <a [routerLink]="[path.link]" [queryParams]="path.params" (click)="navigate(path)">{{path.text}}</a>
        </li>
      </ul>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
      <span class="pull-right">
        <!-- <a href="<c:url value='/boards/write'/>" class="btn btn-primary">Write</a> -->
        <a class="btn btn-primary" routerLink="write">Write</a>
      </span>
    </div>
  </div>
</div>

<pre>{{paths | json}}</pre>
